<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@1.6.5/dist/flowbite.js"></script>
  <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_SjK6aZrUI1RUCATPrLxMD1JZ24-K7TucGA&s" type="image/x-icon">
 

</head>

<body class="bg-gray-900 py-8 flex justify-center items-center min-h-screen">

  <div class="max-w-md w-full bg-gray-800 p-8 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold text-center text-white">Create an Account</h2>
    
    <form action="/" method="POST" class="mt-6 space-y-6">
      
      <!-- Full Name Input -->
      <div>
        <label for="username" class="block text-sm font-medium text-gray-300">Username</label>
        <input type="text" id="name" name="username" class="mt-2 block w-full px-4 py-2 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-white bg-gray-700 placeholder-gray-400" required placeholder="Username">
      </div>

      <!-- Email Input -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-300">Email Address</label>
        <input type="email" id="email" name="email" class="mt-2 block w-full px-4 py-2 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-white bg-gray-700 placeholder-gray-400" required placeholder="Enter your email">
      </div>

      <!-- Password Input -->
      <div>
        <label for="password" class="block text-sm font-medium text-gray-300">Password</label>
        <input type="password" id="password" name="password" class="mt-2 block w-full px-4 py-2 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-white bg-gray-700 placeholder-gray-400" required placeholder="Enter your password">
      </div>

      <!-- Submit Button -->
      <div>
        <button type="submit" class="w-full py-2 px-4 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Register</button>
      </div>
      
      <!-- Login Link -->
      <div class="text-center text-sm">
        <p class="text-gray-400">Already have an account? <a href="/login" class="text-blue-600 hover:text-blue-700">Login</a></p>
      </div>
    </form>
  </div>

</body>

</html>
